{% extends 'movie/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Add a Movie
{% endblock %}

{% block body_block %}
{% if user.is_superuser %}
    <h1>Add a Movie</h1>
        <div>
            <form id="movie_form" method="post" action="{% url 'add_movie' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" name="submit" value="Add Movie" />
            </form>
        </div>
{% endif %}
{% endblock %}
