
{% extends 'movie/base.html' %}
{% load static %}

{% block title_block %}
    {{category.name}}
{% endblock title_block %}



{% block body_block %}
    {% if movies %}
        <div class="container">
            <div class="row">
                {% for movie in movies %}
                    <div class="col-6 col-sm-6 col-md-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                        <a href="/movie/{{ movie.slug }}"><img src="{{movie.movie_image.url}}" width="200" height="200" alt="{{ movie.name }}"/></a>
                        <a href="/movie/{{ movie.slug }}">
                            <p>{{ movie.name }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <strong>There are no movies present.</strong>
    {% endif %}


    
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-lg justify-content-center">
            {% if movies.has_previous %}
                <li class="page-item"><a class='page-link' href="?page={{ movies.previous_page_number }}">previous&nbsp;</a></li>
            {% endif %}

                <li class="page-item"><a class='page-link' href="#" tabindex="-1" aria-disabled="true">{{ movies.number }} of {{ movies.paginator.num_pages }}</a></li>
            
            {% if movies.has_next %}
                <li class="page-item"><a class='page-link' href="?page={{ movies.next_page_number }}">&nbsp;next</a></li>
            {% endif %}
        </ul>
    </nav>
    

{% endblock body_block %}

    
