{% extends 'movie/base.html' %}
{% load static %}

{% block title_block %}
    HomePage
{% endblock title_block %}

{% block body_block %}
    <h2>Top 3</h2>
    {% if movies_top3 %}
        
        <div class="container">
            <div class="row">
                <div class="col-10">
                    <ul>  
                    {% for movie in movies_top3 %}
                            <div class="container">
                            <div class="row">
                                <div class="col-4">
                                    <div class="element" style="display: flex; flex-direction: column; align-items: center; ">
                                    <img src="{{ movie.movie_image.url }}" alt="{{ movie.name }}" weight=300 height=400/>
                                    </br>

                                    <span style="text-align: center">
                                        <a href="/movie/{{ movie.slug }}" onmouseover="this.style.color='red'" onmouseout="this.style.color='blue'" style="text-decoration: none; font-size:16px; color: blue;">
                                            {{ movie.name }}
                                        </a>
                                    </span>
                                </div>
                                </div> 
                                <div class="col-6" >
                                    <ul class="list-group">
                                        <li class="list-group-item">director : {{ movie.director }}</a></li>
                                        <li class="list-group-item">lead_actor : {{ movie.lead_actor }}</a></li>
                                        <li class="list-group-item">pub_date :{{ movie.pub_date }}</a></li>
                                        <li class="list-group-item">upload_date :{{ movie.upload_date }}</a></li>
                                        <li class="list-group-item">description :{{ movie.description }}</a></li>
                                    </ul>
                                </div>  
                            </div>
                            </br>
                    </div>
                    {% endfor %}
                    </ul>
                </div>
                <div class="col-2">
                    <div class="row">
                        <h2>Top 4~10</h2>
                        {% if movies_4to10 %}
                            <ul>
                                {% for movie in movies_4to10 %}
                                    <div>
                                        <a href="/movie/{{ movie.slug }}" style="text-decoration: none">
                                        {{ movie.name }}<br>
                                        </a>
                                    </div>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <strong>There are no top4-10 movies present.</strong>
                        {% endif %}
                    </div>
                    <div class="row">           
                        <h2>Recently Updated</h2>
                        {% if movies_update %}
                            <ul>
                                {% for movie in movies_update %}
                                    <div>
                                        <a href="/movie/{{ movie.slug }}" style="text-decoration: none">
                                        {{ movie.name }}<br>
                                        </a>
                                    </div>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <strong>There are no movies updated recently.</strong>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock body_block %}


    
