{% extends 'movie/base.html' %}
{% load crispy_forms_tags %}

{% block title_block %}
    Login
{% endblock title_block %}

{% block body_block %}

<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-9">
            <h1>Login</h1>
<form method="post" action=".">
    {% csrf_token %}

    <div class='col-md-6 mb-0'>
        {{ form.username|as_crispy_field }}
    </div>
    <div class='col-md-6 mb-0'>
        {{ form.password|as_crispy_field }}
    </div>
    
    <input type="submit" class="btn btn-primary" value="Log In" />
    <input type="hidden" name="next" value="{{next}}" />
</form>
<p>
    Not registered?
    <a href="{% url 'registration_register' %}">Register here!</a>
</p>
</div>
</div>
</div>
{% endblock body_block %}