{% extends 'movie/base.html' %}
{% load staticfiles %}

{% block title_block %}
    user_profile
{% endblock title_block %}

{% block body_block %}
    {% if user.is_authenticated %}
        <h1>Hello {{user.username}}</h1>
        <a href="{% url 'auth_password_change' %}">Change password</a><br />
        
            {% if comments %}
            <ul>
                {% for c in comments %}
                <li class='record'>Text: {{ c.text }}, Movie:{{c.movie}}, Liked_flag:{{c.liked_flag}}<a href="{% url 'comment_delete' c.pk %}" class="delete_link">Delete</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <strong>You don't have any comments yet, leave some!</strong><br />
            {% endif %}
        
        
    {% endif %}
{% endblock body_block %}

{% block script_block %}
<script src="{% static 'js/delete_comment.js' %}"></script>
{% endblock script_block %}

