{% extends 'movie/base.html' %}
{% load static %}

{% block title_block %}
    user_profile
{% endblock title_block %}

{% block body_block %}
    {% if user.is_authenticated %}
        <div class="container">
            <div class="row justify-content-md-center">
                
        <h1>Hello {{user.username}}</h1>
        
            {% if comments %}
            
            <ol class="list-group list-group-numbered">
                {% for c in comments %}
                <li class="record list-group-item d-flex justify-content-between col col-lg-12 ">
                    <div class="ms-2 me-auto">
                        <a class="fw-bold" href="{% url 'movie:moviepage' c.movie.slug %}" >{{c.movie}}</a><br />
                      {% comment %} <div class="fw-bold">{{c.movie}}</div> {% endcomment %}
                      {{c.text}}
                    </div>
                    <span class="badge bg-primary "><button href="{% url 'comment_delete' c.pk %}" class="delete_link">Delete</button></span>
                  </li>
                {% endfor %}
            </ol>
        
            {% else %}
            <strong>You don't have any comments yet, leave some!</strong><br />
            {% endif %}
        </div>
    </div>
        {% if user.is_superuser %}
            <hr />
            <p>Hello admin, got some new movies today?<a href="{% url 'add_movie' %}">ADD Movie</a></p>
        {% endif %}
        <p>Want to change your password?<a href="{% url 'auth_password_change' %}">Change password</a></p>
    {% endif %}
{% endblock body_block %}

{% block script_block %}
<script src="{% static 'js/delete_comment.js' %}"></script>
{% endblock script_block %}

